{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block header %}
<style>
    body {
        background: #343a40;
    }
    .title {
        font-weight: 100;
        font-size: 80px;
        color: white;
    }

    #check {

        outline: none;
        border: 1px #191919 solid;
        width: 30%;
        padding:10px;
        background:none;
        color:white;
        font-size:20px;
        outline:none;
        border:none;
        border-radius: 20px;
        margin-top:2rem;
        box-shadow: 1px 1px 20px rgba(51,221,255,0.3);
    }

    .content a:hover{
        background: rgba(51,221,255,0.9);
    }

    .content a:hover{
        width:41%;
        cursor: pointer;
    }
    .content {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50% , -50%);
        width:auto;
    }
</style>
{% endblock %}

{% block content %}
<div class = "content">
    <h1 class = 'title' >Manage Your Passwords</h1>
    <a class="btn btn-success" id = "check" href="/auth" role="button">Check It Out!</a>
</div>

{% endblock %}
