#inputs input{
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    float: none;
}

/* 
body nav form a{
  font-size: 20px;
  color:white;
  margin-left: 40px;
  padding: 10px;
  border-bottom: 2px rgba(51,221,255,0.9) solid;
} */

.haha:hover{
  background:rgba(51,221,255,0.9);
  color:white;
  text-decoration: none;
  box-shadow: 1px 1px 5px rgba(51,221,255,0.3);
}

.haha{
  font-size: 20px;
  font-weight: 100;
  color:white;
  margin-left: 20px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius : 10px;
  border: 1px rgba(51,221,255,0.9) solid;
}

body nav img{
  height: 4rem;
  width:4rem;
  margin-right: 1rem;
}
#heading {
    margin-bottom: 20px;
    font-weight: 100;

}

#settings-icon {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 7px;

}

#navbutton {
  margin-left: 20px;
  
}
table {
    margin: auto;
    margin-top: 15px;
    width: 80%;
    border-radius: 10px;
}
table tr th{
    padding: 20px;
    background: aliceblue;
}
table tr td {
    padding: 20px;
    background: aliceblue;
}
th:first-of-type {
  border-top-left-radius: 20px;
}
th:last-of-type {
  border-top-right-radius: 20px;
  padding: 20px 5px 20px 0;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 20px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 20px;
}
tr td:last-of-type {
  padding: 20px 5px 20px 0;
}
tr td:nth-last-of-type(2) {
  padding: 20px 0 20px 20px;
}
tr th:nth-last-of-type(2) {
  padding: 20px 0 20px 20px;
}


#myInput {
  background-image: url('https://www.w3schools.com/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 80%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 2px solid lightgrey; /* Add a grey border */
  margin: auto;
  align-content: center;
  margin-bottom: 12px; /* Add some space below the input */
  margin-top: 12px;
  border-radius: 25px;

  /*float: none;*/
}

#myForm input:hover{
  width: 80.5%;
  border-radius:30px;
  transition: all 0.2 ease-in-out;
  box-shadow: 2px 2px whitesmoke; 
  backdrop-filter: blur(10px);
}

#myForm input:focus{
  transition: all 0.2 ease-in-out;
  outline: none;
}
#add {
  padding: 12px 15px 12px 40px;
  /*background: none;*/
  border: 1px #28A745 solid;
  border-radius: 5px;
  color: #28A745;
  outline: 2px blue;
  outline-width: 5px;
  cursor: pointer;
  font-size: 16px;
  /*background-image: url("https://cdn.iconscout.com/icon/free/png-512/add-new-1439785-1214356.png");*/
  /*background-position: 8px 12px;*/
  /*background-repeat: no-repeat;*/
  /*background-size: 25px;*/
}
#add:hover {
  background: #28A745;
  color: white;
}

#pagelink {
  margin-left: 10px;
}