
<html lang="en">
<head>

</head>
<body>
    <div>
        <h3>Hello {{ username }},</h3> 
        Thank you for joining Menous Manager.<br>
    
        We'd like to confirm that your account was created successfully. To access Menous Manager click the link below.<br>
    
        <a href="{{ link }}"">Click Here To confirm Email account</a><br>
    
        If you experience any issues logging into your account, reach out to us at snehashish.laskar@gmail.com.<br>
    
        Best, <br>
        The Menous Manage team
    </div>

</body>
</html>